@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap");
// fonts
$lato: "Lato", sans-serif;

// colors
$light: #dbe6ed;
$light2: #efe9e6;
$lightLine: #dbe6ed;

$dark: #0f1515;
$dark2: #08332f;
$darkLine: #055449;

$aqua: #3caaa0;
$white: #fff;
$black: #030502;

// border radius
$borderRadius: 12px;

// letter spacing
$letterSpacing: 0.4px;

// spacing
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;

// heights
$headerHeight: 100px;

// breakpoints
@mixin breakpoint($point) {
    @if $point == xl {
        // 1120px
        @media (min-width: 70em) {
            @content;
        }
    } @else if $point == lg {
        // 1024px
        @media (min-width: 64em) {
            @content;
        }
    } @else if $point == md {
        // 768px
        @media (min-width: 48em) {
            @content;
        }
    } @else if $point == md-only {
        // 767px
        @media (max-width: 767px) {
            @content;
        }
    } @else if $point == sm {
        // 600px
        @media (min-width: 37.5em) {
            @content;
        }
    } @else if $point == sm-only {
        @media (max-width: 599px) {
            @content;
        }
    }
}
